<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Microsoft.KnowledgeApps" Description="These rules focus on the most critical problems in your code, including potential security holes, application crashes, and other important logic and design errors. You should include this rule set in any custom rule set you create for your projects." ToolsVersion="16.0">
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS8524" Action="None" /> <!-- Switch expression is nonexhaustive on unnamed enum members. Disabling allows static checking for new named members -->
  </Rules>
</RuleSet>
